<strong>
  <h2 class="text-center text-bold text-light">GESTIONAR MATERIAS</h2>
</strong>
<hr class="border-warning">

<button type="button" (click)="LimpiarMaterias()" class="btn btn-outline-light font-weight-bold" data-toggle="modal"
  data-target="#ModalAdicion" data-whatever="@getbootstrap">AGREGAR MATERIA</button>

<form method="GET" action="" accept-charset="UTF-8" class="form-inline my-2 my-lg-0 float-right" role="search">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text bg-warning" id="inputGroup-sizing-default">Búsqueda</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default">
  </div>
</form>
<br>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover table-danger">
    <thead class="bg-danger ">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sigla</th>
        <th scope="col">Nombre</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of mat; let i= index">
        <td style="width: 20px;">{{i+1}}</td>
        <td>
          <span *ngIf="!a.Editando">{{a.codigo_mat}}</span>
        </td>
        <td>
          <span *ngIf="!a.Editando">{{a.nombre_mat}}</span>
        </td>
        <td>
          <span *ngIf="!a.Editando">{{(a.habi_mat==1)?'HABILITADO':'INHABILITADO'}}</span>
        </td>
        <td style="width: 200px;">
          <div class="btn-group">
            <button class="btn btn-success" (click)="MateriaSeleccionada=a" type="button" data-toggle="modal"
              data-target="#ModalVisualizacion">
              <i class="bi bi-eye"></i>
            </button>

            <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
              aria-expanded="false">

            </button>
            <div class="dropdown-menu">
              <!-- <button class="dropdown-item" data-toggle="modal" data-target="#ModalModificacion">Editar Datos Personales</button> -->
              <button class="dropdown-item" data-toggle="modal">Agregar </button>
              <button class="dropdown-item" data-toggle="modal">Mostrar </button>
              <button class="dropdown-item" data-toggle="modal" data-target="#ModalHitorialDesig">Historial de
                Designaciones</button>
            </div>
          </div>
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalModificacion"
            (click)='MateriaSeleccionada=a;' style="margin-right: 10px;"><i class="bi bi-pencil"></i></button>

          <button type="button" class="btn btn-danger" (click)="EliminarMateria(a.id_materia)">
            <i class="bi bi-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--MODAL_DE_ADICION_-->

<div class="modal fade" id="ModalAdicion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">REGISTRAR NUEVA MATERIA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-4">
          <div class="mb-4" [formGroup]="newMateria">
            <div class="form-group row">
              <label class="form-label text-right col-sm-2">NOMBRE: </label>
              <input type="text" class="form-control col-sm-10" formControlName="nombre_mat"
                oninput="this.value= this.value.toUpperCase()" placeholder="NOMBRE DE LA MATERIA: EJ PROGRAMACION">
            </div>
            <div class="form-group row">
              <label class="form-label text-right col-sm-2">SIGLA: </label>
              <input type="text" class="form-control col-sm-10" formControlName="codigo_mat"
                oninput="this.value= this.value.toUpperCase()" placeholder="PRG 1100">
            </div>

            <div class="form-group row">
              <label class="form-label text-right col-sm-2">HABILITACIÓN MATERIA: </label>
              <input type="checkbox" class="form-control col-sm-1"
                [checked]="newMateria.get('habi_mat').value =='HABILITADO' ? true : false"
                (change)="ControlCheckedhabi_mat($event,'Adicion')">
            </div>

            <!-- {{newMateria.value|json}} -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="AgregarMateria()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--MODIFICAR-->
<div class="modal fade" id="ModalModificacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MODIFICAR MATERIA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-4">
          <div class="col-sm-9">
            <div class="form-group row">
              <label class="form-label text-right col-sm-2">NOMBRE: </label>
              <input type="text" class="form-control col-sm-10" [(ngModel)]="MateriaSeleccionada.nombre_mat">
            </div>
            <div class="form-group row">
              <label class="form-label text-right col-sm-2">SIGLA: </label>
              <input type="text" class="form-control col-sm-10" [(ngModel)]="MateriaSeleccionada.codigo_mat">
            </div>
            <div class="form-group row">
              <label class="form-label text-right col-sm-2">HABILITACION: </label>
              <input type="checkbox" class="form-control col-sm-1"
              [checked]="MateriaSeleccionada.habi_mat =='HABILITADO' ? true : false"
              (change)="ControlCheckedhabi_mat($event,'Modificacion')">
            </div>


          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="ModificarMateria(MateriaSeleccionada)">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DE VISUALIZACION -->
<div class="modal fade" id="ModalVisualizacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> VISUALIZANDO MATERIA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-4">

          <div class="col-sm-9">

            <div class="form-group row">
              <label class="form-label text-right col-sm-2">SIGLA: </label>
              <input type="text" class="form-control col-sm-10" [(ngModel)]="MateriaSeleccionada.codigo_mat">
            </div>
            <div class="form-group row">
              <label class="form-label text-right col-sm-2">NOMBRE: </label>
              <input type="text" class="form-control col-sm-10" [(ngModel)]="MateriaSeleccionada.nombre_mat">
            </div>


          </div>


          <hr>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
