<strong>
  <h2 class="text-center text-bold text-light">GESTIONAR PRERREQUISITOS</h2>
</strong>
<hr class="border-warning">

<!--<button type="button" (click)="LimpiarPrerrequisitos()" class="btn btn-outline-light font-weight-bold" data-toggle="modal" data-target="#ModalAdd" data-whatever="@getbootstrap">AGREGAR Prerrequisito</button>-->
<button type="button" class="btn btn-outline-light font-weight-bold" data-toggle="modal" data-target="#ModalAdicion"
  data-whatever="@getbootstrap">AGREGAR Prerrequisito</button>

<form method="GET" action="" accept-charset="UTF-8" class="form-inline my-2 my-lg-0 float-right" role="search">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text bg-warning" id="inputGroup-sizing-default">Búsqueda</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default">
  </div>
</form>
<br>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover table-danger">
    <thead class="bg-danger ">
      <tr>
        <th scope="col">#</th>
        <!-- <th scope="col">Materia</th> -->
        <th scope="col">Materia</th>
        <th scope="col">Prerrequisito</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of pre; let i= index">
        <td style="width: 20px;">{{i+1}}</td>
        <!-- <td>
          <span *ngIf="!a.Editando">{{a.id_prerreq}} -{{a.id_materia}} - {{a.codigo_mat}} - {{a.nombre_mat}} </span>
        </td> -->
        <td>
          <span *ngIf="!a.Editando">{{a.cod_prin}} - {{a.mat_prin}} </span>
        </td>
        <td>
          <span *ngIf="!a.Editando">{{a.cod_sec}} - {{a.materia_sec}} </span>
        </td>

        <td style="width: 200px;">
          <div class="btn-group">

            <button class="btn btn-success btn-sm" (click)="PrerrequisitoSeleccionado=a" type="button"
              data-toggle="modal" data-target="#ModalVisualizacion">
              <i class="bi bi-eye"></i>
            </button>

            <button type="button" class="btn btn-sm btn-success dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown" aria-expanded="false">
            </button>
            <div class="dropdown-menu">
              <!-- <button class="dropdown-item" data-toggle="modal" data-target="#ModalModificacion">Editar Datos Personales</button> -->
              <button class="dropdown-item" data-toggle="modal">Agregar Prerrequisito</button>
              <button class="dropdown-item" data-toggle="modal">Mostrar Prerrequisito</button>
              <button class="dropdown-item" data-toggle="modal" data-target="#ModalHitorialDesig">Historial de
                Designaciones</button>
            </div>
          </div>
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalModificacion"
            (click)="LimpiarInputFotoMod()" (click)='PrerrequisitoSeleccionado=a;' style="margin-right: 10px;"><i
              class="bi bi-pencil"></i></button>

          <button type="button" class="btn btn-danger" (click)="EliminarPrerrequisito(a.id_prerreq)">
            <i class="bi bi-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--MODAL_DE_ADICION_DE_Prerrequisito-->

<div class="modal fade" id="ModalAdicion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">AÑADIR PRERREQUISITO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-4">
          <div class="mb-4" [formGroup]="newPrerrequisito">
            <div class="form-group row">
              <label class="form-label text-right col-sm-2">Materia: </label>
              <div [formGroup]="filterMateria_PForm" class="lcch-select col-sm-10">
                <div>
                  <input formControlName="txt" type="text" class="form-control"
                    value="{{Materia_PSelect.nombre_mat +' '+Materia_PSelect.codigo_mat }}" />
                </div>
                <div *ngIf="filtroMateria_P" class="lcch-options">
                  <span *ngFor="let a of matFiltrado" class="form-control" (click)="Materia_PSelect=a" (click)="filtroMateria_P=false">{{a.nombre_mat}} - {{a.codigo_mat}}</span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="form-label text-right col-sm-2">Prerrequisito: </label>
              <div [formGroup]="filterMateria_SForm" class="lcch-select col-sm-10">
                <div>
                  <input formControlName="txt" type="text" class="form-control"
                    value="{{Materia_SSelect.nombre_mat +' '+Materia_SSelect.codigo_mat }}" />
                </div>
                <div *ngIf="filtroMateria_S" class="lcch-options">
                  <span *ngFor="let a of matSFiltrado" class="form-control" (click)="Materia_SSelect=a"
                    (click)="filtroMateria_S=false">{{a.nombre_mat}} - {{a.codigo_mat}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"
            (click)="AgregarPrerrequisito()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--MODIFICAR-->
<div class="modal fade" id="ModalModificacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MODIFICAR Prerrequisito</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-4">
          <div class="col-sm-12">
            <div class="form-group row">
              <label class="form-label text-right col-sm-2">Materia: </label>
              <div [formGroup]="filterMateria_PPForm" class="lcch-select col-sm-10">
                <div>
                  <input formControlName="txt" type="text" class="form-control" value="{{PrerrequisitoSeleccionado.mat_prin}}"/>
                </div>
                <div *ngIf="filtroMateria_PP" class="lcch-options" >
                  <span *ngFor="let a of dataPFiltrado" class="form-control" (click)="PrerrequisitoSeleccionado.id_materia_p=a.id_materia;
                   PrerrequisitoSeleccionado.mat_prin=a.nombre_mat" (click)="filtroMateria_PP=false">{{a.nombre_mat}} - {{a.codigo_mat}}</span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="form-label text-right col-sm-2">Prerrequisito: </label>
              <div [formGroup]="filterMateria_SSForm" class="lcch-select col-sm-10">
                <div>
                  <input formControlName="txt" type="text" class="form-control" value="{{PrerrequisitoSeleccionado.materia_sec}}"/>
                </div>
                <div *ngIf="filtroMateria_SS" class="lcch-options" >
                  <span *ngFor="let a of dataSFiltrado" class="form-control" (click)="PrerrequisitoSeleccionado.id_materia_s=a.id_materia; PrerrequisitoSeleccionado.materia_sec = a.nombre_mat" (click)="filtroMateria_SS=false">{{a.nombre_mat}} - {{a.codigo_mat}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="ModificarPrerrequisito(PrerrequisitoSeleccionado)">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DE VISUALIZACION -->
<div class="modal fade" id="ModalVisualizacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> VISUALIZANDO DE Prerrequisito</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-4">
          <div class="col-sm-9">
            <div class="form-group row">
              <label class="form-label text-right col-sm-2">Materia: </label>
              <!-- FILTRADOR V3: NombreFiltro => Materia_PP-->
              <div [formGroup]="filterMateria_PPForm" class="lcch-select col-sm-10">
                <div>
                  <input formControlName="txt" type="text" class="form-control" value="{{PrerrequisitoSeleccionado.mat_prin}}"/>
                </div>
                <div *ngIf="filtroMateria_PP" class="lcch-options" >
                  <span *ngFor="let a of dataPFiltrado" class="form-control" (click)="PrerrequisitoSeleccionado.id_materia_p=a.id_materia; PrerrequisitoSeleccionado.mat_prin=a.nombre_mat" (click)="filtroMateria_PP=false">{{a.nombre_mat}} - {{a.codigo_mat}}</span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="form-label text-right col-sm-2">Prerrequisito: </label>
              <div [formGroup]="filterMateria_SSForm" class="lcch-select col-sm-10">
                <div>
                  <input formControlName="txt" type="text" class="form-control" value="{{PrerrequisitoSeleccionado.materia_sec}}"/>
                </div>
                <div *ngIf="filtroMateria_SS" class="lcch-options" >
                  <span *ngFor="let a of dataSFiltrado" class="form-control" (click)="PrerrequisitoSeleccionado.id_materia_s=a.id_materia; PrerrequisitoSeleccionado.materia_sec = a.nombre_mat" (click)="filtroMateria_SS=false">{{a.nombre_mat}} - {{a.codigo_mat}}</span>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


<style>
  /* PARA EL SELECT PERSONALIZADO */
  .lcch-select div span {
    border-radius: 0;
    border-width: 0;
    /* text-align: center; */
  }

  .lcch-select div span:hover {
    border-radius: 0;
    border-width: 0;
    background-color: aquamarine;
    /* text-align: center; */
    font-weight: bold;
    cursor: pointer;
  }

  .lcch-options {
    position: absolute;
    /* width:100%; */
    z-index: 5;
  }

</style>
