<strong>
  <h2 class="text-center text-bold text-light">GESTIONAR FACULTADES</h2>
</strong>
<hr class="border-warning">

<button type="button" (click)="LimpiarFacultads()" class="btn btn-outline-light font-weight-bold" data-toggle="modal"
  data-target="#ModalAdd" data-whatever="@getbootstrap">AGREGAR FACULTAD</button>

<form method="GET" action="" accept-charset="UTF-8" class="form-inline my-2 my-lg-0 float-right" role="search">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text bg-warning" id="inputGroup-sizing-default">Búsqueda</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default">
  </div>
</form>
<br>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover table-danger">
    <thead class="bg-danger ">
      <tr>
        <th scope="col">#</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">SIGLA</th>
        <th scope="col">UBICACIÓN</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of fac; let i= index">
        <td style="width: 20px;">{{i+1}}</td>
        <td>
          <span *ngIf="!a.Editando">{{a.desc_facu}}⠀</span>
        </td>
        <td>
          <span *ngIf="!a.Editando">{{a.habi_facu}}</span>
        </td>
        <td>
          <span *ngIf="!a.Editando">{{a.ubica_facu}}</span>
        </td>
        <td style="width: 200px;">
          <div class="btn-group">
            <button class="btn btn-success btn-sm" (click)="SeleccionarFacultad(a.id_facu,'Mostrar')" type="button">
              <i class="bi bi-eye"></i>
            </button>

            <button type="button" class="btn btn-sm btn-success dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown" aria-expanded="false">
            </button>
            <div class="dropdown-menu">
              <!-- <button class="dropdown-item" data-toggle="modal" data-target="#ModalModificacion">Editar Datos Personales</button> -->
              <button class="dropdown-item" data-toggle="modal">Agregar Datos Curriculares</button>
              <button class="dropdown-item" data-toggle="modal">Hoja de Datos de Docente</button>
              <button class="dropdown-item" data-toggle="modal" data-target="#ModalHitorialDesig">Historial de
                Designaciones</button>
            </div>
          </div>
          <button type="button" class="btn btn-warning" (click)="SeleccionarFacultad(a.id_facu,'Editar')"
            style="margin-right: 10px;"><i class="bi bi-pencil"></i></button>

          <button type="button" class="btn btn-danger" (click)="EliminarFacultad(a.id_facu)">
            <i class="bi bi-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- MODAL DE ADICION Facultad-->
<div class="modal fade" id="ModalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> REGISTRAR FACULTAD NUEVA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="frmform" class="mb-4" [formGroup]="newFacultad">
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">SIGLA: </label>
            <input type="text" class="form-control col-sm-2" formControlName="habi_facu"
              oninput="this.value= this.value.toUpperCase()" placeholder="EJ. FOE">
            <label class="form-label text-right col-sm-2">NOMBRE: </label>
            <input type="text" class="form-control col-sm-6" formControlName="desc_facu"
              oninput="this.value= this.value.toUpperCase()" placeholder="EJ. FACULTAD DE MEDICINA">
          </div>

          <div class="form-group row">
            <label class="form-label  col-sm-4">UBICACIÓN DE LA FACULTAD: </label>
            <input type="text" class="form-control col-sm-8" formControlName="ubica_facu"
              oninput="this.value= this.value.toUpperCase()" placeholder="EJ. AVENIDA SIEMPRE VIVA Nº47d">
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="AgregarFacultad()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL_DE_MODIFICACION Facultad-->
<div class="modal fade" id="ModalModificacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MODIFICAR FACULTAD</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="frmform" class="mb-4">

          <div class="form-group row">
            <label class="form-label text-right col-sm-2">SIGLA: </label>
            <input type="text" class="form-control col-sm-2" [(ngModel)]="FacultadSeleccionado.desc_facu"
              oninput="this.value= this.value.toUpperCase()" placeholder="EJ. FOE">
            <label class="form-label text-right col-sm-2">NOMBRE: </label>
            <input type="text" class="form-control col-sm-6" [(ngModel)]="FacultadSeleccionado.habi_facu"
              oninput="this.value= this.value.toUpperCase()" placeholder="EJ. FACULTAD DE MEDICINA">
          </div>

          <div class="form-group row">
            <label class="form-label  col-sm-4">UBICACIÓN DE LA FACULTAD: </label>
            <input type="text" class="form-control col-sm-8" [(ngModel)]="FacultadSeleccionado.ubica_facu"
              oninput="this.value= this.value.toUpperCase()" placeholder="EJ. AVENIDA SIEMPRE VIVA Nº47d">
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="ModificarFacultad(FacultadSeleccionado)">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DE VISUALIZACION -->
<div class="modal fade" id="ModalVisualizacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> VISUALIZANDO DOCENTE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="frmform" class="mb-4">
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">SIGLA: </label>
            <input type="text" class="form-control col-sm-2" [(ngModel)]="FacultadSeleccionado.desc_facu"
              oninput="this.value= this.value.toUpperCase()" placeholder="EJ. FOE">
            <label class="form-label text-right col-sm-2">NOMBRE: </label>
            <input type="text" class="form-control col-sm-6" [(ngModel)]="FacultadSeleccionado.habi_facu"
              oninput="this.value= this.value.toUpperCase()" placeholder="EJ. FACULTAD DE MEDICINA">
          </div>

          <div class="form-group row">
            <label class="form-label  col-sm-4">UBICACIÓN DE LA FACULTAD: </label>
            <input type="text" class="form-control col-sm-8" [(ngModel)]="FacultadSeleccionado.ubica_facu"
              oninput="this.value= this.value.toUpperCase()" placeholder="EJ. AVENIDA SIEMPRE VIVA Nº47d">
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


<button type="button" class="invisible" style="position: absolute; top:100%" id="btnOpenModalMod" data-toggle="modal"
  data-target="#ModalModificacion" style="width: 0px;">Abrir Modal Modificacion</button>
<button type="button" class="invisible" style="position: absolute; top:100%" id="btnOpenModalMos" data-toggle="modal"
  data-target="#ModalVisualizacion" style="width: 0px;">Abrir Modal Visualizacion</button>
