<h2 class="text-center text-light font-weight-bold">MODIFICAR CONTRASEÑA</h2>
<div class="col-sm-12">
  <label for="">Introduzca la Contraseña Actual:</label>
  <input id = "password" class="col-sm-12 form-control" type = "password" [(ngModel)]="contrasenia" placeholder = "Ingrese la contraseña Actual" maxlength = "20"  />
  <!-- <span class="text-danger" *ngIf="IncorrectaPass">Contraseña Incorrecta*</span> -->
</div>

<div class="col-sm-12">
  <label for="">Introduzca una Nueva Contraseña:</label>
  <input id = "newpassword" class="col-sm-12 form-control" type = "password" [(ngModel)]="contraseniaN1" placeholder = "Establezca una nueva contraseña" maxlength = "20" />
  <!-- <span class="text-danger" *ngIf="IncorrectaPassN">No Coincide la nueva contraseña*</span> -->
</div>
<div class="mod-form-block password input col-sm-12">
  <label for="">Vuelva a Repetir la Nueva Contraseña:</label>
  <input id = "newagainpassword" class="col-sm-12 form-control" type = "password" [(ngModel)]="contraseniaN2" placeholder = "Confirme la nueva contraseña nuevamente" maxlength = "20"/>
  <!-- <span class="text-danger" *ngIf="IncorrectaPassN">No Coincide la nueva contraseña*</span> -->
</div>
