<strong>
  <h2 class="text-center text-bold text-light">GESTIONAR QUEJAS</h2>
</strong>
<hr class="border-warning">

<button type="button" (click)="LimpiarQuejas()" class="btn btn-outline-light font-weight-bold" data-toggle="modal" data-target="#ModalAdd" data-whatever="@getbootstrap">AGREGAR QUEJAS</button>

<form method="GET" action="" accept-charset="UTF-8" class="form-inline my-2 my-lg-0 float-right" role="search">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text bg-warning" id="inputGroup-sizing-default">Búsqueda</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
</form>
<br>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover table-danger">
    <thead class="bg-danger ">
      <tr>
        <th scope="col">#</th>
        <th scope="col">DESCRIPCION DE QUEJA</th>
        <th scope="col">CARRERA</th>
        <th scope="col">FECHA DE QUEJA</th>
        <th scope="col">SE DIO SOLUCIÓN</th>
        <th scope="col">DESCRIPCION DE SOLUCIÓN</th>
        <th scope="col">FECHA DE SOLUCIÓN</th>
        <th scope="col">ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of fac; let i= index"  >
        <td style="width: 20px;">{{i+1}}</td>
        <td>
          <span *ngIf="!a.Editando">{{a.tipo_queja}}⠀</span>
        </td>
        <td>
          <span *ngIf="!a.Editando">{{a.id_carre}} {{a.nombre_carre}}</span>
        </td>
        <td>
          <span *ngIf="!a.Editando">{{a.fec_queja}}⠀</span>
        </td>
        <td>
          <span *ngIf="!a.Editando">{{a.estado_sol}}</span>
        </td>
        <td>
          <span *ngIf="!a.Editando">{{a.motivo_sol}}</span>
        </td>
        <td>
          <span *ngIf="!a.Editando">{{a.fec_sol}}</span>
        </td>
        <td style="width: 200px;">
          <div class="btn-group">
            <button class="btn btn-success " (click)="SeleccionarQuejas(a.id_queja,'Mostrar')" type="button">
              <i class="bi bi-eye"></i>
            </button>

            <button style="margin-right: 10px;" type="button" class="btn btn-sm btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
            </button>
            <div class="dropdown-menu">
              <!-- <button class="dropdown-item" data-toggle="modal" data-target="#ModalModificacion">Editar Datos Personales</button> -->
              <button class="dropdown-item" data-toggle="modal" >Agregar Datos Curriculares</button>
              <button class="dropdown-item" data-toggle="modal" >Hoja de Datos de Docente</button>
              <button class="dropdown-item" data-toggle="modal" data-target="#ModalHitorialDesig">Historial de Designaciones</button>
            </div>
          </div>
          <button type="button" class="btn btn-warning"
          (click)="SeleccionarQuejas(a.id_queja,'Editar')" style="margin-right: 10px;"><i class="bi bi-pencil"></i></button>

         <button type="button" class="btn btn-danger" (click)="EliminarQuejas(a.id_queja)">
           <i class="bi bi-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- MODAL DE ADICION Quejas-->
<div class="modal fade" id="ModalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> REGISTRAR QUEJA NUEVA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="frmform" class="mb-4" [formGroup]="newQuejas" >

            <div class="form-group row">
              <label class="form-label  col-sm-3">NOMBRE ESTUDIANTE: </label>
              <select class="custom-select col-sm-9" type="text" formControlName="id_est">
                <optgroup label="Seleccione Estudiante " >
                    <option *ngFor="let e of est " value="{{e.id_est}}">{{e.NombreCompleto}}</option>
                </optgroup>
              </select>
              </div>
              <div class="form-group row">
                <label class="form-label  col-sm-3">CARRERA: </label>
                <select class="custom-select col-sm-9" type="text" formControlName="id_carre">
                  <optgroup label="Seleccione su Carrera " >
                      <option *ngFor="let c of carre " value="{{c.id_carre}}">{{c.nombre_carre}}</option>
                  </optgroup>
                </select>
              </div>
              <div class="form-group row">
                <label class="form-label  col-sm-3">DESCRIPCION DE QUEJA: </label>
                <input type="text" class="form-control col-sm-9" formControlName="tipo_queja" oninput="this.value= this.value.toUpperCase()"placeholder="INGRESE DESCIPCION DE QUEJA">
              </div>
              <div class="form-group row">
                <label class="form-label  col-sm-3">FECHA DE QUEJA: </label>
                <input type="date" class="form-control col-sm-3" formControlName="fec_queja">
                <label class="form-label  col-sm-3">SE DIO SOLUCIÓN: </label>
                <select class="custom-select col-sm-3" type="text" formControlName="estado_sol">
                  <optgroup label="Seleccione el Módulo " >
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </optgroup>
                </select>
              </div>
          <!-- <div class="form-group row">
            <label class="form-label  col-sm-2">SE DIO SOLUCIÓN: </label>
            <select class="custom-select" type="text" formControlName="estado_sol">
              <optgroup label="Seleccione el Módulo " >
                <option value="Si">Si</option>
                <option value="No">No</option>
            </optgroup>
            </select>
          </div> -->
          <div class="form-group row">
            <label class="form-label  col-sm-3">DESCRIPCION DE SOLUCIÓN: </label>
            <input type="text" class="form-control col-sm-9" formControlName="motivo_sol" oninput="this.value= this.value.toUpperCase()"placeholder="INGRESE DESCRIPCION DE SOLUCION">
          </div>
          <div class="form-group row">
            <label class="form-label  col-sm-3">FECHA DE SOLUCIÓN: </label>
            <input type="date" class="form-control col-sm-9" formControlName="fec_sol">
          </div>

         </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="AgregarQuejas()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL_DE_MODIFICACION Quejas-->
<div class="modal fade" id="ModalModificacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MODIFICAR QUEJA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="frmform" class="mb-4">

            <div class="form-group row">
              <label class="form-label  col-sm-3">NOMBRE ESTUDIANTE: </label>
              <select class="custom-select col-sm-9" type="text" [(ngModel)]="QuejasSeleccionado.id_est">
                <optgroup label="Seleccione Estudiante " >
                    <option *ngFor="let e of est " value="{{e.id_est}}">{{e.NombreCompleto}}</option>
                </optgroup>
              </select>
              </div>
              <div class="form-group row">
                <label class="form-label  col-sm-3">CARRERA: </label>
                <select class="custom-select col-sm-9" type="text" [(ngModel)]="QuejasSeleccionado.id_carre">
                  <optgroup label="Seleccione su Carrera " >
                      <option *ngFor="let c of carre " value="{{c.id_carre}}">{{c.nombre_carre}}</option>
                  </optgroup>
                </select>
              </div>
              <div class="form-group row">
                <label class="form-label  col-sm-3">DESCRIPCION DE QUEJA: </label>
                <input type="text" class="form-control col-sm-9" [(ngModel)]="QuejasSeleccionado.tipo_queja">
              </div>
              <div class="form-group row">
                <label class="form-label  col-sm-3">FECHA DE QUEJA: </label>
                <input type="date" class="form-control col-sm-3" [(ngModel)]="QuejasSeleccionado.fec_queja">
                <label class="form-label  col-sm-3">SE DIO SOLUCIÓN: </label>
                <select class="custom-select col-sm-3" type="text" formControlName="estado_sol">
                  <optgroup label="Seleccione el Módulo " >
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </optgroup>
                </select>
              </div>
          <!-- <div class="form-group row">
            <label class="form-label  col-sm-2">SE DIO SOLUCIÓN: </label>
            <select class="custom-select" type="text" formControlName="estado_sol">
              <optgroup label="Seleccione el Módulo " >
                <option value="Si">Si</option>
                <option value="No">No</option>
            </optgroup>
            </select>
          </div> -->
          <div class="form-group row">
            <label class="form-label  col-sm-3">DESCRIPCION DE SOLUCIÓN: </label>
            <input type="text" class="form-control col-sm-9" [(ngModel)]="QuejasSeleccionado.motivo_sol">
          </div>
          <div class="form-group row">
            <label class="form-label  col-sm-3">FECHA DE SOLUCIÓN: </label>
            <input type="date" class="form-control col-sm-9" [(ngModel)]="QuejasSeleccionado.fec_sol">
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="ModificarQuejas(QuejasSeleccionado)">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DE VISUALIZACION -->
<div class="modal fade" id="ModalVisualizacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> VISUALIZANDO QUEJAS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="frmform" class="mb-4">
          <div class="form-group row">
            <label class="form-label  col-sm-3">NOMBRE ESTUDIANTE: </label>
            <select class="custom-select col-sm-9" type="text" [(ngModel)]="QuejasSeleccionado.id_est">
              <optgroup label="Seleccione Estudiante " >
                  <option *ngFor="let e of est " value="{{e.id_est}}">{{e.NombreCompleto}}</option>
              </optgroup>
            </select>
            </div>
            <div class="form-group row">
              <label class="form-label  col-sm-3">CARRERA: </label>
              <select class="custom-select col-sm-9" type="text" [(ngModel)]="QuejasSeleccionado.id_carre">
                <optgroup label="Seleccione su Carrera " >
                    <option *ngFor="let c of carre " value="{{c.id_carre}}">{{c.nombre_carre}}</option>
                </optgroup>
              </select>
            </div>
            <div class="form-group row">
              <label class="form-label  col-sm-3">DESCRIPCION DE QUEJA: </label>
              <input type="text" class="form-control col-sm-9" [(ngModel)]="QuejasSeleccionado.tipo_queja">
            </div>
            <div class="form-group row">
              <label class="form-label  col-sm-3">FECHA DE QUEJA: </label>
              <input type="date" class="form-control col-sm-3" [(ngModel)]="QuejasSeleccionado.fec_queja">
              <label class="form-label  col-sm-3">SE DIO SOLUCIÓN: </label>
              <select class="custom-select col-sm-3" type="text" formControlName="estado_sol">
                <optgroup label="Seleccione el Módulo " >
                  <option value="Si">Si</option>
                  <option value="No">No</option>
              </optgroup>
              </select>
            </div>
        <!-- <div class="form-group row">
          <label class="form-label  col-sm-2">SE DIO SOLUCIÓN: </label>
          <select class="custom-select" type="text" formControlName="estado_sol">
            <optgroup label="Seleccione el Módulo " >
              <option value="Si">Si</option>
              <option value="No">No</option>
          </optgroup>
          </select>
        </div> -->
        <div class="form-group row">
          <label class="form-label  col-sm-3">DESCRIPCION DE SOLUCIÓN: </label>
          <input type="text" class="form-control col-sm-9" [(ngModel)]="QuejasSeleccionado.motivo_sol">
        </div>
        <div class="form-group row">
          <label class="form-label  col-sm-3">FECHA DE SOLUCIÓN: </label>
          <input type="date" class="form-control col-sm-9" [(ngModel)]="QuejasSeleccionado.fec_sol">
        </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


<button type="button" class="invisible" style="position: absolute; top:100%" id="btnOpenModalMod" data-toggle="modal"
  data-target="#ModalModificacion" style="width: 0px;">Abrir Modal Modificacion</button>
<button type="button" class="invisible" style="position: absolute; top:100%" id="btnOpenModalMos" data-toggle="modal"
  data-target="#ModalVisualizacion" style="width: 0px;">Abrir Modal Visualizacion</button>

