<div>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>MODIFICAR</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card card-solid">
      <div class="card-body">
        <div class="row">

          <div class="col-12 col-sm-12">
            <h3>Unior</h3>
            <h4>materias validas registradas para la presente gestion</h4>
            <h3>Gestion 2022/2</h3>
            <h2><strong>Nombre:&nbsp;</strong>Luis Gustavo Choque</h2>
            <h2><strong>Carrera:&nbsp;</strong>Ingenieria Informatica</h2>
          </div>
        </div>
        <div class="row mt-4 col-10 col-sm-10">
          <table class="table table-dark table-striped">
            <thead>
                <th>Sigla</th>
                <th>Descripcion</th>
                <th>Paralelo</th>
                <th>Opciones</th>
            </thead>
            <tbody>
              <tr>
                <td>SIS4511</td>
                <td>PROGRAMACION ESPACIAL</td>
                <td>A</td>
                <td><a href="">[Cambiar Paralelo]</a>&nbsp;<a href="">[Retirar]</a></td>
              </tr>
              <tr>
                <td>SIS6511</td>
                <td>PROGRAMACION ROBOTS</td>
                <td>B</td>
                <td><a href="">[Cambiar Paralelo]</a>&nbsp;<a href="">[Retirar]</a></td>
              </tr>
              <tr>
                <td>SIS4441</td>
                <td>REDES INALAMBRICAS</td>
                <td>G</td>
                <td><a href="">[Cambiar Paralelo]</a>&nbsp;<a href="">[Retirar]</a></td>
              </tr>
              <tr>
                <td>SIS4221</td>
                <td>DOMOTICA</td>
                <td>M</td>
                <td><a href="">[Cambiar Paralelo]</a>&nbsp;<a href=""></a></td>
              </tr>
              <tr>
                <td>SIS2331</td>
                <td>FISICA CUANTICA</td>
                <td>H</td>
                <td><a href="">[Cambiar Paralelo]</a>&nbsp;<a href="">[Retirar]</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
