<strong>
  <h2 class="text-center text-bold text-light">GESTIONAR BECAS</h2>
</strong>
<hr class="border-warning">

<button type="button" (click)="LimpiarBeca()" class="btn btn-outline-light font-weight-bold" data-toggle="modal" data-target="#ModalAdd" data-whatever="@getbootstrap">AGREGAR BECA</button>

<form method="GET" action="" accept-charset="UTF-8" class="form-inline my-2 my-lg-0 float-right" role="search">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text bg-warning" id="inputGroup-sizing-default">Búsqueda</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
</form>
<br>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover table-danger">
    <thead class="bg-danger ">
      <tr>
        <th scope="col">#</th>
        <th scope="col">SIGLA</th>
        <th scope="col">NOMBRE DE BECA</th>
        <th scope="col">PROMEDIO DE BECA</th>
        <th scope="col">DESCUENTO DE BECA</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of esta; let i= index"  >
        <td style="width: 20px;">{{i+1}}</td>
        <td>
          <span *ngIf="!a.Editando">{{a.sigla_beca}}⠀</span>
        </td>
        <td>
          <span *ngIf="!a.Editando">{{a.nombre_beca}}</span>
        </td>
        <td>
          <span *ngIf="!a.Editando">{{a.prom_beca}}</span>
        </td>
        <td>
          <span *ngIf="!a.Editando">{{a.desc_beca}} %</span>
        </td>

        <td style="width: 200px;" >
          <div class="btn-group" >
            <button class="btn btn-success " (click)="SeleccionarBeca(a.id_beca,'Mostrar')" type="button">
              <i class="bi bi-eye"></i>
            </button>

            <button type="button" class="btn btn-sm btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false" >
            </button>
          <div class="dropdown-menu" >
              <!-- <button class="dropdown-item" data-toggle="modal" data-target="#ModalModificacion">Editar Datos Personales</button> -->
            <button class="dropdown-item" data-toggle="modal" >Agregar Datos Curriculares</button>
              <button class="dropdown-item" data-toggle="modal" >Hoja de Datos de Docente</button>
              <button class="dropdown-item" data-toggle="modal" data-target="#ModalHitorialDesig">Historial de Designaciones</button>
            </div>
          </div>
            <button type="button" class="btn btn-warning" 
                  (click)="SeleccionarBeca(a.id_beca,'Editar')" ><i class="bi bi-pencil"></i>
            </button>

            <button type="button" class="btn btn-danger" (click)="EliminarBeca(a.id_beca)" style="margin-left:1.5px;" >
              <i class="bi bi-trash"></i>
            </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- MODAL DE ADICION Beca-->
<div class="modal fade" id="ModalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" >
        <h5 class="modal-title" id="exampleModalLabel" style="text-align:center;"> REGISTRAR NUEVA BECA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div id="frmform" class="mb-4" [formGroup]="newBeca" >
           <div class="form-group row">
              <label class="form-label  col-sm-3">NOMBRE DE BECA:</label>
            <input type="text" class="form-control col-sm-5" formControlName="nombre_beca" oninput="this.value= this.value.toUpperCase()"placeholder="INGRESE NOMBRE DE LA BECA">
              <label class="form-label  col-sm-1"> SIGLA: </label>
              <input type="text" class="form-control col-sm-3" formControlName="sigla_beca" oninput="this.value= this.value.toUpperCase()"placeholder="INGRESE SIGLA">
            </div> 
          <!-- <div class="form-group row">
            <label class="form-label  col-sm-3">NOMBRE DE BECA:</label>
            <input type="text" class="form-control col-sm-9" formControlName="nombre_beca" oninput="this.value= this.value.toUpperCase()"placeholder="INGRESE NOMBRE DE LA BECA">
          </div> -->
          <div class="form-group row">
            <label class="form-label  col-sm-3">PROMEDIO DE BECA:</label>
            <input type="number" class="form-control col-sm-9" formControlName="prom_beca" oninput="this.value= this.value.toUpperCase()"placeholder="INGRESE PROMEDIO DE LA BECA">
          </div>
          <div class="form-group row">
            <label class="form-label  col-sm-3">DESCUENTO DE BECA: </label>
            <input type="number" class="form-control col-sm-9" formControlName="desc_beca" oninput="this.value= this.value.toUpperCase()"placeholder="INGRESE DESCUENTO DE LA BECA">
          </div>
          <div class="form-group row">
            <label class="form-label  col-sm-3">HABILITACIÓN DE BECA: </label>
            <input type="checkbox" class="form-control" style="width: 20px; height: 20px;" formControlName="habi_beca">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="AgregarBeca()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL_DE_MODIFICACION Beca-->
<div class="modal fade" id="ModalModificacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MODIFICAR BECA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="frmform" class="mb-4">
          <div class="form-group row">
            <label class="form-label  col-sm-3">NOMBRE DE BECA: </label>
            <input type="text" class="form-control col-sm-5" [(ngModel)]="BecaSeleccionado.nombre_beca" oninput="this.value= this.value.toUpperCase()"placeholder="INGRESE NOMBRE DE LA BECA">
           <label class="form-label  col-sm-1"> SIGLA: </label>
            <input type="text" class="form-control col-sm-3" [(ngModel)]="BecaSeleccionado.sigla_beca" oninput="this.value= this.value.toUpperCase()"placeholder="INGRESE SIGLA">
            </div>
          <!-- <div class="form-group row">
            <label class="form-label  col-sm-3">NOMBRE DE BECA: </label>
            <input type="text" class="form-control col-sm-9" [(ngModel)]="BecaSeleccionado.nombre_beca">
          </div> -->
          <div class="form-group row">
            <label class="form-label  col-sm-3">PROMEDIO DE BECA: </label>
            <input type="number" class="form-control col-sm-9" [(ngModel)]="BecaSeleccionado.prom_beca" oninput="this.value= this.value.toUpperCase()"placeholder="INGRESE PROMEDIO DE LA BECA">
          </div>
          <div class="form-group row">
            <label class="form-label  col-sm-3">DESCUENTO DE BECA: </label>
            <input type="number" class="form-control col-sm-9" [(ngModel)]="BecaSeleccionado.desc_beca" oninput="this.value= this.value.toUpperCase()"placeholder="INGRESE DESCUENTO DE LA BECA">
          </div>
          <div class="form-group row">
            <label class="form-label  col-sm-3">HABILITACIÓN DE BECA: </label>
            <input type="checkbox" class="form-control"  style="width: 20px; height: 20px;" [(ngModel)]="BecaSeleccionado.habi_beca">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="ModificarBeca(BecaSeleccionado)">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DE VISUALIZACION -->
<div class="modal fade" id="ModalVisualizacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> VISUALIZANDO BECA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="frmform" class="mb-4">
          <div class="form-group row">
            <label class="form-label  col-sm-3">NOMBRE DE BECA: </label>
            <input type="text" class="form-control col-sm-5" [(ngModel)]="BecaSeleccionado.nombre_beca" >
            <label class="form-label  col-sm-1">SIGLA: </label>
            <input type="text" class="form-control col-sm-3" [(ngModel)]="BecaSeleccionado.sigla_beca" >
            </div>
          <!-- <div class="form-group row">
            <label class="form-label  col-sm-2">NOMBRE DE BECA: </label>
            <input type="text" class="form-control col-sm-10" [(ngModel)]="BecaSeleccionado.nombre_beca">
          </div> -->
          <div class="form-group row">
            <label class="form-label  col-sm-3">PROMEDIO DE BECA: </label>
            <input type="number" class="form-control col-sm-9" [(ngModel)]="BecaSeleccionado.prom_beca">
          </div>
          <div class="form-group row">
            <label class="form-label  col-sm-3">DESCUENTO DE BECA: </label>
            <input type="number" class="form-control col-sm-9" [(ngModel)]="BecaSeleccionado.desc_beca">
          </div>
           <div class="form-group row">
            <label class="form-label  col-sm-3">HABILITACIÓN DE BECA: </label>
            <input type="checkbox" class="form-control"  style="width: 20px; height: 20px;" [(ngModel)]="BecaSeleccionado.habi_beca">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


<button type="button" class="invisible" style="position: absolute; top:100%" id="btnOpenModalMod" data-toggle="modal"
  data-target="#ModalModificacion" style="width: 0px;">Abrir Modal Modificacion</button>
<button type="button" class="invisible" style="position: absolute; top:100%" id="btnOpenModalMos" data-toggle="modal"
  data-target="#ModalVisualizacion" style="width: 0px;">Abrir Modal Visualizacion</button>

