<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a class="brand-link">
    <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">Luis Gustavo Choque</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <!--regioninfo-->
        <li class="nav-header">INFORMACION GENERAL</li>
        <li class="nav-item">
          <a routerLink="/postgrado/Bienvenido" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Pagina Principal
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/postgrado/Perfil" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Datos Personales
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/postgrado/PasswordChange" class="nav-link">
            <i class="nav-icon fas fa-key"></i>
            <p>
              Cambiar Clave
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Cerrar Sesion
            </p>
          </a>
        </li>
        <!--endregioninfo-->
        <!--regionregistromaterias-->
        <li class="nav-header">REGISTRO MATERIAS</li>
        <li class="nav-item">
          <a routerLink="/postgrado/Materias" class="nav-link">
            <i class="nav-icon fas fa-calendar"></i>
            <p>
              Registro 2022/2
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/postgrado/EditarMaterias" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Modificar
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/postgrado/Horario" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Horario
            </p>
          </a>
        </li>
        <!--endregionregistromaterias-->
        <!--registroinfoacademico-->
        <li class="nav-header">INFORMACION ACADEMICA</li>
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Historial Academico
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Seguimiento Academico
            </p>
          </a>
        </li>
        <!--endregistroinfoacademico-->

        <!-- cursos extras -->
        <li class="nav-header">POSTGRADO Y CURSOS</li>
        <li class="nav-item">
          <a routerLink="/postgrado/MisCursos" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Mis Cursos
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/postgrado/MisProgramas" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Pagos Programas
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Inscripciones
            </p>
          </a>
        </li>
        <!-- endcursos extras -->

        <!--registroinfoacademico-->
        <li class="nav-header">AYUDA</li>
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="nav-icon fas fa-question"></i>
            <p>
              info ayuda
            </p>
          </a>
        </li>

        <!--endregistroinfoacademico-->


      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
