
<strong>
  <h2 class="text-center text-bold text-light">GESTIONAR EGRESADOS TITULADOS</h2>
</strong>
<hr class="border-warning">

<button type="button" (click)="LimpiarEgresadotitulos()" class="btn btn-outline-light font-weight-bold" data-toggle="modal" data-target="#ModalAdd" data-whatever="@getbootstrap">AGREGAR Egresadotitulos</button>

<form method="GET" action="" accept-charset="UTF-8" class="form-inline my-2 my-lg-0 float-right" role="search">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text bg-warning" id="inputGroup-sizing-default">Búsqueda</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
</form>
<br>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover table-danger">
    <thead class="bg-danger ">
      <tr>
        <th scope="col">#</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">CARRERA</th>
        <th scope="col">TITULO</th>
        <th scope="col">GESTION</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of egr; let i= index"  >
        <td style="width: 20px;">{{i+1}}</td>
        <td>
          <span *ngIf="!a.Editando"> {{a.nombre_est}} {{a.ape_p_est}} {{a.ape_m_est}}⠀</span>
        </td>
        <td>
          <span *ngIf="!a.Editando">{{a.nombre_carre}}</span>
        </td>
        <td>
          <span *ngIf="!a.Editando">{{a.nombre_titulo}}</span>
        </td>
        <td>
          <span *ngIf="!a.Editando">{{a.gestion_titulo}}</span>
        </td>
        <td style="width: 200px;">
          <button class="btn btn-success" (click)="SeleccionarEgresadotitulos(a.id_egr_titulo,'Mostrar')" type="button">
          <i class="bi bi-eye"></i></button>

          <button type="button" class="btn btn-warning"
          (click)="SeleccionarEgresadotitulos(a.id_egr_titulo,'Editar')" style="margin-right: 10px;"><i class="bi bi-pencil"></i></button>

         <button type="button" class="btn btn-danger" (click)="EliminarEgresadotitulos(a.id_egr_titulo)">
           <i class="bi bi-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- MODAL DE ADICION Egresadotitulos-->
<div class="modal fade" id="ModalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> REGISTRAR EGRESADOS TITULADOS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-4" [formGroup]="newEgresadotitulos" >
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">ESTUDIANTE: </label>
            <div [formGroup]="filterEstudianteForm" class="lcch-select col-sm-10">
              <div>
                <input formControlName="txt" type="text" class="form-control" value="{{EstudianteSelect.NomC }}"/>
              </div>
              <div *ngIf="filtroEstudiante" class="lcch-options" >
                <span *ngFor="let a of estFiltrado" class="form-control" (click)="autoCompletar(a)" (click)="filtroEstudiante=false">{{a.NomC}}</span>
              </div>
            </div>
            <!-- <select class="custom-select col-sm-10 form-control" type="text" formControlName="id_est">
              <optgroup label="SELECCIONE ESTUDIANTE" >
                <option *ngFor="let a of est" value="{{a.id_est}}">{{a.nombre_est}} {{a.ape_p_est}} {{a.ape_m_est}}</option>
              </optgroup>
             </select> -->
          </div>
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">CARRERA: </label>
            <select class="custom-select col-sm-10 form-control" type="text" formControlName="id_carre" disabled>
              <optgroup label="SELECCIONE CARRERA" >
                <option *ngFor="let a of carre" value="{{a.id_carre}}">{{a.nombre_carre}}</option>
              </optgroup>
             </select>
          </div>
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">TITULO: </label>
            <input type="text" class="form-control col-sm-10" formControlName="tipo_titulo">
          </div>
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">NOMBRE DE TITULO: </label>
            <input type="text" class="form-control col-sm-10" formControlName="nombre_titulo">
          </div>
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">UNIVERSIDAD: </label>
            <select class="custom-select col-sm-10 form-control" type="text" formControlName="id_univ">
              <optgroup label="SELECCIONE UNIVERSIDAD" >
                <option *ngFor="let a of uni" value="{{a.id_univ}}">{{a.nombre_univ}}</option>
              </optgroup>
             </select>
          </div>
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">GESTIÓN: </label>
            <input type="number" class="form-control col-sm-10" formControlName="gestion_titulo">
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="AgregarEgresadotitulos()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DE MODIFICACION Egresadotitulos-->
<div class="modal fade" id="ModalModificacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MODIFICAR EGRESADOS TITULADOS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-4">
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">ESTUDIANTE: </label>
            <select class="custom-select col-sm-10 form-control" type="text" [(ngModel)]="EgresadotitulosSeleccionado.id_est" disabled>
              <optgroup label="SELECCIONE ESTUDIANTE" >
                <option *ngFor="let a of est" value="{{a.id_est}}">{{a.nombre_est}} {{a.ape_p_est}} {{a.ape_m_est}}</option>
              </optgroup>
             </select>
          </div>
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">CARRERA: </label>
            <select class="custom-select col-sm-10 form-control" type="text" [(ngModel)]="EgresadotitulosSeleccionado.id_carre" disabled>
              <optgroup label="SELECCIONE CARRERA" >
                <option *ngFor="let a of carre" value="{{a.id_carre}}">{{a.nombre_carre}}</option>
              </optgroup>
             </select>
          </div>
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">TITULO: </label>
            <input type="text" class="form-control col-sm-10" [(ngModel)]="EgresadotitulosSeleccionado.tipo_titulo">
          </div>
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">NOMBRE DE TITULO: </label>
            <input type="text" class="form-control col-sm-10" [(ngModel)]="EgresadotitulosSeleccionado.nombre_titulo">
          </div>
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">UNIVERSIDAD: </label>
            <select class="custom-select col-sm-10 form-control" type="text" [(ngModel)]="EgresadotitulosSeleccionado.id_univ">
              <optgroup label="SELECCIONE UNIVERSIDAD" >
                <option *ngFor="let a of uni" value="{{a.id_univ}}">{{a.nombre_univ}}</option>
              </optgroup>
             </select>
          </div>
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">GESTIÓN: </label>
            <input type="number" class="form-control col-sm-10" [(ngModel)]="EgresadotitulosSeleccionado.gestion_titulo">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="ModificarEgresadotitulos(EgresadotitulosSeleccionado)">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DE VISUALIZACION Egresadotitulos-->
<div class="modal fade" id="ModalVisualizacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> VISUALIZANDO EGRESADOS TITULADOS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-4">
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">ESTUDIANTE: </label>
            <select class="custom-select col-sm-10 form-control" type="text" [(ngModel)]="EgresadotitulosSeleccionado.id_est">
              <optgroup label="SELECCIONE ESTUDIANTE" >
                <option *ngFor="let a of est" value="{{a.id_est}}">{{a.nombre_est}} {{a.ape_p_est}} {{a.ape_m_est}}</option>
              </optgroup>
             </select>
          </div>
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">CARRERA: </label>
            <select class="custom-select col-sm-10 form-control" type="text" [(ngModel)]="EgresadotitulosSeleccionado.id_carre">
              <optgroup label="SELECCIONE CARRERA" >
                <option *ngFor="let a of carre" value="{{a.id_carre}}">{{a.nombre_carre}}</option>
              </optgroup>
             </select>
          </div>
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">TITULO: </label>
            <input type="text" class="form-control col-sm-10" [(ngModel)]="EgresadotitulosSeleccionado.tipo_titulo">
          </div>
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">NOMBRE DE TITULO: </label>
            <input type="text" class="form-control col-sm-10" [(ngModel)]="EgresadotitulosSeleccionado.nombre_titulo">
          </div>
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">UNIVERSIDAD: </label>
            <select class="custom-select col-sm-10 form-control" type="text" [(ngModel)]="EgresadotitulosSeleccionado.id_univ">
              <optgroup label="SELECCIONE UNIVERSIDAD" >
                <option *ngFor="let a of uni" value="{{a.id_univ}}">{{a.nombre_univ}}</option>
              </optgroup>
             </select>
          </div>
          <div class="form-group row">
            <label class="form-label text-right col-sm-2">GESTIÓN: </label>
            <input type="number" class="form-control col-sm-10" [(ngModel)]="EgresadotitulosSeleccionado.gestion_titulo">
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="invisible" style="position: absolute; top:100%" id="btnOpenModalMod" data-toggle="modal"
  data-target="#ModalModificacion" style="width: 0px;">Abrir Modal Modificacion</button>
<button type="button" class="invisible" style="position: absolute; top:100%" id="btnOpenModalMos" data-toggle="modal"
  data-target="#ModalVisualizacion" style="width: 0px;">Abrir Modal Visualizacion</button>

