/* .modal-content {
  background: linear-gradient(-80deg, #fdff96, #780101);
  color: aliceblue;
}
.modal-body .form-control {
background: linear-gradient(150deg, #780101, #fdff96);
color: aliceblue;
} */
