<h1 class="text-center text-light font-weight-bold">PAGINA DE ACCESO POR ROLES</h1>
<h2 class="mb-2 mt-4">MODULO DE POSTGRADO</h2>
<div class="row">


  <div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3>GESTION PROGRAMAS</h3>

        <p>Gestion Programas, Modulos, Contenidos </p>
      </div>
      <div class="icon">
        <i class="fa fa-tasks"></i>
      </div>
      <a routerLink="/admin/ModuloDocFecha" class="small-box-footer">
        Ingresar <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3>PAGINA INSCRIPCIONES</h3>

        <p>Formulario publico para Inscripciones</p>
      </div>
      <div class="icon">
        <i class="fa fa-tasks"></i>
      </div>
      <a routerLink="/inscripcionespostgrado" class="small-box-footer">
        Ingresar <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>GESTION INSCRITOS</h3>

        <p>Gestion de estudiantes inscritos</p>
      </div>
      <div class="icon">
        <i class="fas fa-user-plus"></i>
      </div>
      <a routerLink="/admin/InscritosPrograma" class="small-box-footer">
        Ingresar<i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3>PAGOS INSCRITOS</h3>

        <p>Gestion de Cobros y pagos a Inscritos</p>
      </div>
      <div class="icon">
        <i class="fas fa-tag"></i>
      </div>
      <a routerLink="/admin/IngresoPrograma" class="small-box-footer">
        Ingresar <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>

</div>
<!-- /.row -->
