

  <!-- Content Wrapper. Contains page content -->
  <!-- Content Wrapper. Contains page content -->
  <div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>HORARIO</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body">
          <div class="row">

            <div class="col-12 col-sm-12">
              <h3>Gestion 2022/2</h3>
              <h2><strong>Nombre:&nbsp;</strong>Luis Gustavo Choque</h2>
              <h2><strong>Carrera:&nbsp;</strong>Ingenieria Informatica</h2>
            </div>
          </div>
          <div class="row mt-4 col-12 col-sm-12">
            <table class="table  table-striped">
              <thead>
                  <th>Horas\Dias</th>
                  <th>Lunes</th>
                  <th>Martes</th>
                  <th>Miercoles</th>
                  <th>Jueves</th>
                  <th>Viernes</th>
                  <th>Sabado</th>
              </thead>
              <tbody>
                <tr>
                  <td>07:00-08:30</td>
                  <td></td>
                  <td></td>
                  <td>SIS1522(CU-66)</td>
                  <td></td>
                  <td>SIS1522(CU-66)</td>
                  <td></td>
                </tr>
                <tr>
                  <td>08:30-10:00</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>SIS7722(CU-66)</td>
                  <td></td>
                  <td></td>

                </tr>
                <tr>
                  <td>10:00-12:00</td>
                  <td>SIS5622(CU-66)</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>INF3322(CU-66)</td>
                  <td></td>
                </tr>
                <tr>
                  <td>12:00-14:00</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>14:00-16:00</td>
                  <td></td>
                  <td>INF3322(CU-44)</td>
                  <td></td>
                  <td>SIS5622(CU-33)</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>16:00-18:00</td>
                  <td>INF2222(CU-44)</td>
                  <td></td>
                  <td>MAT2344(CU-23)</td>
                  <td></td>
                  <td>SIS3322(CU-64)</td>
                  <td></td>
                </tr>
                <tr>
                  <td>18:00-20:00</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>20:00-22:00</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
